/* Dindo edited this */

/* Ralph Edited this */
body{
	height: 100%;
}

.login-body{
	height: 100vh;
	background: #000 url(../img/login-bg.jpg) center center no-repeat;
	background-size: cover;
}

#login-logo{
	display: block;
	margin: 0 auto;
	margin-top: 130px;
	margin-bottom: 20px;
	max-width: 100%;
}

.login-wrap{
	border: 1px solid #094086;
	background-color: rgba(0,0,0,.65);
	box-shadow: 0px 0px 34px rgb(0,0,0);
	border-radius: 10px;
	overflow: hidden;
}

.login-wrap h1{
	display: block;
	text-align: center;
	margin: 0;
	color: #000;
	font-size: 25px;
	background-color: #408ebc;
	padding: 20px 0px;
}

.login-wrap form{
	padding: 50px 55px;
	border-radius: 10px;
}

.login-wrap form p{
	color: #fff;
	text-align: center;
	font-size: 17px;
}

.login-wrap form input[type="text"],
.login-wrap form input[type="password"]{
	display: block;
	background-color: #fff;
	border: none;
	border-radius: 8px; 
	max-width: 100%;
	text-align: center;
}

.login-wrap form button{
	display: block;
	margin: 0 auto;
	background-color: #056800;
	border-radius: 7px;
	color: #fff;
	padding: 10px 39px;
	border: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	margin-top: 33px;
}

.login-wrap form button:hover{
	background-color: #83DBFE;
}

.login-wrap form button .glyphicon{
	margin-right: 7px;
}